<div>
    <h2 id="page-heading">
        <span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.home.title">Serviceinstances</span>
        
        <div *ngIf="serviceInstance.serviceName">
            <h4><span >Service Broker Instances for </span>
                <b>{{serviceInstance.serviceName}}</b> and plan <b>{{serviceInstance.planName}}</b>
            </h4>
        </div>

    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="serviceinstances?.length === 0">
        <span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.home.notFound">No serviceinstances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="serviceinstances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instanceId"><span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.instanceId">Instance Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serviceId"><span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.serviceId">Service Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="planId"><span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.planId">Plan Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spaceGuid"><span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.spaceGuid">Space Guid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organizationGuid"><span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.organizationGuid">Organization Guid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="operationType"><span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.operationType">Operation Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="operationId"><span jhiTranslate="cloudservicebrokeruiApp.serviceinstance.operationId">Operation Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serviceinstance of serviceinstances ;trackBy: trackId">
                    <td><a [routerLink]="['/serviceinstance', serviceinstance.id, 'view']">{{ serviceinstance.id }}</a></td>
                    <td>{{ serviceinstance.instanceId }}</td>
                    <td>{{ serviceinstance.name }}</td>
                    <td>{{ serviceinstance.serviceId }}</td>
                    <td>{{ serviceinstance.planId }}</td>
                    <td>{{ serviceinstance.spaceGuid }}</td>
                    <td>{{ serviceinstance.organizationGuid }}</td>
                    <td>{{ serviceinstance.operationType }}</td>
                    <td>{{ serviceinstance.operationId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/serviceinstance', serviceinstance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" (click)="delete(serviceinstance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 

    <div *ngIf="serviceinstances?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
 