<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cloud-service-broker-ui-heading" jhiTranslate="cloudservicebrokeruiApp.cloudServiceBrokerUI.home.createOrEditLabel">Create or edit a Cloud Service Broker UI</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudservicebrokeruiApp.cloudServiceBrokerUI.brokerName" for="field_brokerName">Broker Name</label>
                    <input type="text" class="form-control" name="brokerName" id="field_brokerName"
                           formControlName="brokerName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudservicebrokeruiApp.cloudServiceBrokerUI.brokerUrl" for="field_brokerUrl">Broker Url</label>
                    <input type="text" class="form-control" name="brokerUrl" id="field_brokerUrl"
                           formControlName="brokerUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudservicebrokeruiApp.cloudServiceBrokerUI.userName" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                           formControlName="userName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudservicebrokeruiApp.cloudServiceBrokerUI.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cloudservicebrokeruiApp.cloudServiceBrokerUI.env" for="field_env">Env</label>
                    <input type="text" class="form-control" name="env" id="field_env"
                           formControlName="env"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
