version: '2'
services:
  cloudservicebrokerui-app:
    image: cloudservicebrokerui
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,swagger
      - MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED=true
      - SPRING_DATASOURCE_URL=jdbc:mysql://cloudservicebrokerui-mysql:3306/cloudservicebrokerui?useUnicode=true&characterEncoding=utf8&useSSL=false&createDatabaseIfNotExist=true
      - JHIPSTER_SLEEP=30 # gives time for other services to boot before the application
    ports:
      - 8080:8080
  cloudservicebrokerui-mysql:
    extends:
      file: mysql.yml
      service: cloudservicebrokerui-mysql
